V3.0r1/FATXML_ENTITY_V1.2_R3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="entity_type">
      <xs:sequence>
        <xs:element name="TYPE" minOccurs="1" maxOccurs="1"/>
        <xs:element name="ID" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

</xs:schema>

